* {	
	margin: 0;
	font-family: 'Roboto', sans-serif;
	line-height: 1.3em;
	color: #545454;	
}
.wrapper {
    
	width: 90%;
    height: 100%;
	margin: 0 auto;
    background-color:aquamarine;
}
header {
    text-align: center;
}
a {
  	text-decoration: none;
  	color: #545454;
 }
h1 {
    margin: 0;
}
ul li {
    margin-right: 20px;
    display: inline;
}